*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navBar{
  width: 100%;
  background-color: magenta;
  padding: 1rem;

}

.navBar > ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navBar > ul > a{
  text-decoration: none;
  font-size: 1.5rem;
}